body{
    background: #F5F7FA;
    font-family: 'Montserrat', sans-serif;
}

.main-container{
    width: 1200px;
    margin: 40px auto;
    display: flex;
    flex-direction: row;
    background: #ffffff;
}

.about-me-profession{
    font-size: 14px;
    font-weight: 700;
    color: black;
}

/* .right-side {
    
} */

.about-me-section{
    background: rgb(236, 236, 177);
    display: flex;
    flex-direction: column;
}

.my-project-section{
    background: rgb(122, 122, 233);
}

.my-work-experience-section{
    background: rgb(173, 108, 233);
}

.my-education-section{
    background: rgb(185, 231, 116);
}

.left-side-bar{
    background: #1E2939;
}